---
import Layout from "../layouts/Layout.astro"
---

<Layout title="AquaFlow - Gracias por usar nuestro servicio">
  <main class="min-h-screen flex flex-col items-center justify-center bg-[linear-gradient(135deg,#0a2c3d_0%,#02050a_50%,_#0a2c3d_100%)] px-4">
    <div class="w-full max-w-3xl p-8 rounded-xl border border-cyan-400 shadow-lg flex flex-col items-center space-y-6">
      <h1 class="text-4xl font-bold text-blue-200 text-center">AquaFlow</h1>
      <img src="AquaFlowLogo.png" alt="Garrafon de Agua" class="w-64 h-auto" />
      <p class="text-xl text-cyan-100 text-center">
        ¡Gracias por usar nuestro servicio!
      </p>

    </div>

  </main>
</Layout>
